@model Projekt3.Models.Author

@{
    ViewData["Title"] = "Create a new author";
}

<h2>Create a new author</h2>

@{await
    Html.RenderPartialAsync(
        "~/Views/Authors/AuthorForm.cshtml",
        new ViewDataDictionary(this.ViewData) {
            { "action", "Create" },
            { "submit", "Create" }
        }
    );
}