@model Projekt3.Models.Author

@{
    ViewData["Title"] = "Edit of the author";
}

<h2>Edit of the author</h2>

@{await
    Html.RenderPartialAsync(
        "~/Views/Authors/AuthorForm.cshtml",
        new ViewDataDictionary(this.ViewData) {
            { "action", "Edit" },
            { "submit", "Save" }
        }
    );
}