@model Projekt3.Models.Book

@{
    ViewData["Title"] = "Create a new book";
}

<h2>Create a new book</h2>

@{await
    Html.RenderPartialAsync(
        "~/Views/Books/BookForm.cshtml",
        new ViewDataDictionary(this.ViewData) {
        { "action", "Create" },
        { "submit", "Create" }
        }
    );
}