@model Projekt3.Models.Book

@{
    ViewData["Title"] = "Edition of the book ";
}

<h2>Edition of the book</h2>

@{await
Html.RenderPartialAsync(
        "~/Views/Books/BookForm.cshtml",
        new ViewDataDictionary(this.ViewData) {
            { "action", "Edit" },
            { "submit", "Save" }
        }
    );
}