@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Logout" asp-action="Index">Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Register" asp-action="Index">Register</a></li>
        <li><a asp-area="" asp-controller="Login" asp-action="Index">Login</a></li>
    </ul>
}